* {
	font-family: 'Josefin Sans', sans-serif;

}
main {
	padding: 10px;
	padding-right: 10px;
	min-height: 700px;
}
nav .nav-wrapper {

	background-color: green;
}

nav a{
	margin-left:  10px;
	margin-right: 10px;
	/*background-color: green;*/
}

#laughs {
	width: 143px;
	margin: 0px;
}

footer {
	/*max-height: 80px;*/
	min-height: 30px;
	color: black;
}

strong {
	font-size: 17px;
}


.page-footer {
	background-color: darkgreen !important;

}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 4px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.aimage {
	font-size: 1.8em;
	color: 	black;
}

.navbar-fixed {
	position: fixed;
}

.marg {
/*	width: 600px;
	margin: 0 auto;*/
}

.fb-share-button {
	/*width: 125px;*/
	position: relative;
	bottom: 8px;
	

}

.shares {
	position: relative;
	bottom: 27px;
}

.postborder {
	width: 80%;
}

.box6 {
	width: 42px;
	height: 42px;
	background-color: grey;
	float: left;	
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 50%;

}
.komento {
	overflow: hidden;
	width: 80%;
}

.margincomm {
	margin: 0;
	overflow: hidden;
}
.media1 {
		width: 80%;
	}

div.komento.card-panel {
	padding: 5px;
	box-shadow: 20px;
}

div.card-content.teal.lighten-2 {
	padding: 7px;
}

div.card-content.cyan.accent-3 {
	padding: 7px;


}

div.sidecard.col.s12.m3 > img {
	height: 50%;
}

div.komento {
	margin: 5px;
}

div.commentform.card-panel {
	padding: 12px;
}

div.right-align.shares{
	display: inline-block;
	float: right;
}

.likerep{
	display: inline;
}
.deled {
	margin-top:10px;
}
.eddel{
	display: inline;
	float: right;
	top: 10px;
}

.sidecard {
	position: fixed;
	right: 0;

}

@media only screen and (min-width : 601px) {
    header, main, footer {
        padding-left: 0;
    }
	
	.articlepost {
		width: 100%;
	}

	.editpost {
		width: 80%;
	}

	.commentform {
		width: 80%;
	}
}

/* mobile */
@media only screen and (max-width: 600px) {
.postborder {
	width: 100%;
}

.articlepost {
		width: 100%;
	}


.sidecard {
	display: none;
}	

}

